body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 550px;
  display: flex;
  flex-direction: column;
}

.nav-box {
  display: flex;
  align-items: center;
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 89px;
  height: 29px;
  padding: 22px 0 22px 30px;
}

.hero-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 26px;
}

.photo-grid {
  width: 396px;
  height: 232px;
}

.hero-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  margin-top: 32px;
  margin-left: 36px;
  align-self: flex-start;
}

.hero-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  margin-top: 16px;
  margin-left: 36px;
  color: #222222;
  align-self: flex-start;
  width: 320px;
}

.card-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card-box {
  display: flex;
  flex-direction: column;
  margin-top: 49px;
  margin-left: 37px;
  flex: 0 0 auto;
  position: relative;
}

.katie {
  width: 176px;
  height: 235px;
  border-radius: 9px;
}

.star {
  width: 14px;
  height: 14px;
  margin-right: 2px;
}

.rating {
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  margin-top: 9px;
}

.card-title {
  font-weight: 300;
  font-size: 12px;
  line-height: 13px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cost {
  font-size: 12px;
  line-height: 13px;
  margin-top: 8px;
}

.card-badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 10px;
}